body {
  font-family: Arial, sans-serif;
  background-color: #f5eaea;
  margin: 0;
  padding: 20px;
}

.app {
  max-width: 600px;
  margin: auto;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e9e4e4;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2de054;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2de054;
}

.pokemon-details {
  text-align: center;
}

.pokemon-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.pokemon-info {
  margin-top: 20px;
}

.pokemon-info div {
  margin: 5px 0;
}

.error {
  color: rgb(150, 4, 4);
  text-align: center;
}
